# Ignore virtual environment files
.venv/
*.pyc

# Ignore database files
db.sqlite3

# Ignore static files collected during development
/staticfiles/

# Ignore media files uploaded by users
/media/

# Ignore secret keys and sensitive information
*.env

# Ignore local development settings
/local_settings.py
